# Archivos temporales de LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz

# Archivos generados por el compilador
*.pdf
*.dvi

# Configuraciones locales (por ejemplo de VS Code)
.vscode/

# Otros archivos temporales
*.tmp
